.cap {
	max-width: 1500px;
	margin: 0 auto;
	padding-left: 20px !important;
	padding-right: 20px !important;
	@media screen and (min-width: $tabwidth){
		padding-left: 3.5% !important;
		padding-right: 3.5% !important;
	}
}
.clear-bottom {
	&:after {
	  clear: both;
	  content: "";
	  display: block;
	}
  }
  .copy {
	font-size: 14px;
	color: $color__text-main;
	@media screen and (min-width: $tabwidth){
	  font-size: 16px;
	}
	> *:first-child {
	  margin-top: 0;
	  padding-top: 0;
	}
	> *:last-child {
	  margin-bottom: 0;
	  padding-bottom: 0;
	}
	p {
	  margin: 20px 0;
	}
	strong, b, em {
	  font-weight: 800;
	}
	a {
	  text-decoration: none;
	  color: $color__text-main;
	  position: relative;
	  &:hover {
		color: $color__text-main;
		text-decoration: underline;
	  }
	}
	h1, h2, h3 {
	  margin: 0 0 10px 0;
	  text-transform: uppercase;
	  color: $color__text-main;
	}
	h1 {
	  font-size: 30px;
	}
	h2 {
	  font-size: 25px;
	}
	h3 {
	  font-size: 20px;
	}
	ul, ol {
		padding: 0;
		margin: 0 0 20px 20px;
		font-size: inherit;
		li {
			margin: 0 0 5px 20px;
			font-size: inherit;
			padding: 0;
			list-style-type: disc;
			a {
				cursor: pointer;
				&:hover {
				color: $color__text-main;
				}
			}
			ul.sub-menu {
				margin: 0 0 0 20px;
			}
		}
	}
}
#masthead {
	>.row-1 {
		background: $color__ehpc-red; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(left, $color__ehpc-red ,black ); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(right, $color__ehpc-red, black); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(right, $color__ehpc-red, black); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to right, $color__ehpc-red, black); /* Standard syntax */
		>.wrapper.cap {
			padding: 10px 0;
			@media screen and (min-width: $tabwidth){
				padding: 0;
				@include flexbox();
				@include flexbox-justify(space-between);
				@include flexbox-align-items(center);
				@include flexbox-align-content(center);
			}
			>.col-1 {
				text-align: center;
				@media screen and (min-width: $tabwidth){
					margin: 0 20px 0 0;
				}
				img {
					display: inline-block;
					width: 30px;
				}
			}
			>.col-2 {
				ul {
					margin: 5px 0 0 0;
					padding: 0;
					text-align: center;
					@media screen and (min-width: $tabwidth){
						margin: 0;
					}
					@media screen and (min-width: $deskwidth){
						text-align: left;
					}
					li {
						text-align: center;
						display: block;
						list-style-type: none;
						@media screen and (min-width: $tabwidth){
							display: inline-block;
							&:last-child {
								a {
									padding-right: 0;
								}
							}
						}
						@media screen and (min-width: $deskwidth){
							border-left: 1px solid $color__ehpc-grey;
						}
						a {
							display: block;
							padding: 5px 10px 0 10px;
							text-decoration: none;
							color: white;
							text-transform: uppercase;
							@media screen and (min-width: $tabwidth){
								padding: 20px 30px;
							}
						}
					}
				}
			}
		}
	}
	>.row-2 {
		>.wrapper.cap {
			padding: 10px 0;
			@media screen and (min-width: $tabwidth){
				padding: 20px 0 30px 0;
				@include flexbox();
				@include flexbox-justify(space-between);
				@include flexbox-align-items(center);
				@include flexbox-align-content(center);
			}
			.logo {
				margin: 0 auto;
				width: 60%;
				@media screen and (min-width: $tabwidth){
					width: auto;
					max-width: 15%;
					margin: 0;
				}
				a {
					display: block;
					img {
						display: block;
					}
				}
			}
			#site-navigation {
				text-align: center;
				margin: 10px 0 0 0;
				@media screen and (min-width: $tabwidth){
					margin: 0;
				}
				&.toggled {
					>div {
						display: block;
					}
				}
				button {
					text-transform: uppercase;
					margin: 0 0 20px 0;
					display: inline-block;
					border: 1px solid $color__ehpc-grey;
					color: $color__ehpc-grey;
					padding: 10px 15px;
					border-radius: 900px;
					box-shadow: none;
					text-shadow: none;
					background-color: white;
					font-size: 20px;
					@media screen and (min-width: $tabwidth){
						display: none;
					}
					&:hover {
						background-color: $color__ehpc-grey;
						color: white;
					}
				}
				>div {
					display: none;
					@media screen and (min-width: $tabwidth){
						display: block;
					}
					>ul {
						margin: 0;
						padding: 0 0 20px 0;
						@media screen and (min-width: $tabwidth){
							padding: 0;
						}
						>li {
							padding: 10px 10px 0 10px;
							list-style-type: none;
							display: block;
							position: relative;
							@media screen and (min-width: $tabwidth){
								display: inline-block;
								padding: 0 25px;
								&:last-child {
									padding-right: 0;
								}
							}
							&:hover {
								>ul.sub-menu {
									display: block;
								}
							}
							>a {
								display: block;
								text-decoration: none;
								color: $color__ehpc-grey;
								font-size: 16px;
								text-transform: uppercase;
								@media screen and (min-width: $tabwidth){
									font-size: 20px;
									font-weight: 700;
								}
							}
							>ul.sub-menu {
								margin: 0;
								padding: 0;
								@media screen and (min-width: $tabwidth){
									z-index: 3;
									padding: 10px 0;
									display: none;
									position: absolute;
									top: 100%;
									left: 50%;
									width: 200px;
									border: 1px solid $color__ehpc-red;
									background-color: white;
									text-align: left;
									@include translatexy(-50%, 0);
								}
								>li {
									padding: 10px 10px 0 10px;
									list-style-type: none;
									&:first-child{
										@media screen and (min-width: $tabwidth){
											padding-top: 0;
										}
									}
									>a {
										color: $color__ehpc-grey;
										font-size: 14px;
										text-decoration: none;
										@media screen and (min-width: $tabwidth){
											font-size: 16px;
										}
									}
									ul {
										margin: 0;
										padding: 0;
										li {
											padding: 10px 10px 0 20px;
											list-style-type: none;
											a {
												color: $color__ehpc-grey;
												font-size: 14px;
												text-decoration: none;
												@media screen and (min-width: $tabwidth){
													font-size: 16px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
#colophon {
	color: white;
	background-color: $color__ehpc-dark-red;
	.copy {
		color: white;
	}
	>.cap.wrapper {
		padding: 20px 0;
		@media screen and (min-width: $tabwidth){
			padding: 3.5% 0 3.5% 0;
		}
		>.row-1 {
			@media screen and (min-width: $tabwidth){
				@include flexbox();
				@include flexbox-justify(space-between);
				@include flexbox-align-items(flex-start);
				@include flexbox-align-content(flex-start);
			}
			>.col-1 {
				@media screen and (min-width: $tabwidth){
					margin: 0;
					max-width: 40%;
				}
				@media screen and (min-width: $midwidth){
					margin: 0 20px 0 0;
				}
				header {
					h2 {
						font-weight: 500;
						font-size: 25px;
						margin: 0;
						@media screen and (min-width: $tabwidth){
							font-size: 35px;
						}
					}
				}
				.copy {
					font-size: 20px;
					@media screen and (min-width: $tabwidth){
						font-size: 25px;
					}
				}
				.social {
					margin: 20px 0 0 0;
					a {
						color: white;
						&:nth-child(2){
							margin: 0 30px;
						}
						i {
							font-size: 40px;
							@media screen and (min-width: $tabwidth){
								font-size: 30px;
							}
						}
					}
				}
			}
			>.col-2 {
				margin: 20px 0 0 0;
				font-size: 25px;
				@media screen and (min-width: $tabwidth){
					margin: 0;
					font-size: 35px;
					max-width: 40%;
				}
				@media screen and (min-width: $midwidth){
					margin: 0 40px 0 20px;
				}
			}
		}
		>.row-2 {
			margin: 40px 0 0 0;
			@media screen and (min-width: $tabwidth){
				margin: 5% 0 0 0;
				@include flexbox();
				@include flexbox-justify(space-between);
				@include flexbox-align-items(stretch);
				@include flexbox-align-content(stretch);
			}
			>.col-1, >.col-2, >.col-3, >.col-4 {
				margin: 20px 0 0 0;
				border-top: 1px solid white;
				padding: 10px 0 0 0;
				@media screen and (min-width: $tabwidth){
					width: 25%;
					border-top: none;
					border-left: 1px solid white;
					padding: 0 8% 0 10px;
				}
				header {
					h3 {
						margin: 0;
						font-weight: 500;
					}
				}
				.copy {
					padding: 10px 0 15px 0;

				}
			}
		}
		>.row-3 {
			text-align: center;
			margin: 40px 0 0 0;
			@media screen and (min-width: $tabwidth){
				margin: 4% 0 0 0;
			}
		}
	}
}