.template-index {
    background-position: 0 110%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    >.wrapper.cap {
        padding: 10% 0 25% 0;
        svg {
            width: 70%;
            display: block;
            margin: 0 auto;
            overflow: visible;
            @media screen and (min-width: $tabwidth){
                width: 45%;
            }
            .one {
                text {
                    display: none;
                }
                &:hover {
                    z-index: 10;
                    transform: translateX(-15%) translateY(-30%) scale(1.3);
                    transition: 1s all;
                    text {
                        display: block;
                    }
                }

            }
            .two {
                text {
                    display: none;
                }
                &:hover {
                    z-index: 10;
                    transform: translateX(-30%) translateY(-25%) scale(1.3);
                    transition: 1s all;
                    text {
                        display: block;
                    }
                }

            }
            .three {
                text {
                    display: none;
                }
                &:hover {
                    z-index: 10;
                    transform: translateX(-25%) translateY(-20%) scale(1.3);
                    transition: 1s all;
                    text {
                        display: block;
                    }
                }

            }
            .four {
                text {
                    display: none;
                }
                &:hover {
                    z-index: 10;
                    transform: translateX(-20%) translateY(-15%) scale(1.3);
                    transition: 1s all;
                    text {
                        display: block;
                    }
                }

            }
        }
    }
}